include LICENSE
include README.md
include requirements.txt
include requirements-dev.txt
include pyproject.toml
include Makefile

recursive-include src/signforge/ui/frontend *
recursive-include configs *.yaml
recursive-include scripts *.sh *.ps1 *.py
